
  .search-image-container{
      display: flex;
      justify-content: space-evenly;
  }
  #search-image-container-1{
    display: none;
 }
 .cities-2{
     display: flex;
     justify-content: space-around;
 }
 #view-bar  {
    display: flex;
    justify-content: center;
}
#view-bar nav{
    text-decoration: none;
    color: black;
}
.images {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}
.container, .container-1 {
    position: relative;
    text-align: center;
    color: white;
  }

.center{
    position:absolute;
   top: 50%;
   left: 30%;
   right: 30%;
   bottom: 50%;
}

.container div , .container-1 div{
  display: none;
}
.container:hover div , .container-1:hover div{
display: block;
}

.container:hover img, .container-1:hover img{
    opacity: .5;
}


#city-search{
    display: flex;
    justify-content: center;
     align-items: center;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    margin: 0%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

 #city-search input{
    width: 60vmin;
     border: 1px solid transparent;
     outline: none;
     background-color: #f1f1f1;
     font-size: 16px;
     border-radius: 12px;
     padding: 10px;
 }
 