#list-view{
    margin: 3%;
    background-color:lightgrey;
    width: 40%;
    display: inline-block;
}
.view-container a{
    display: inline-block; 
    text-decoration: none;
    
    color: black;
    font-weight: bold;
}
.view-container{
    margin-top: 2%; 
    margin-left:40%;
    margin-right: 40%;
    text-align: center;
}
#list-view:hover{
    background-color: rosybrown;
}

#list-view a{
    text-decoration: none;
    color: black;
} 
#map-view {
display:block;
}
.hotel-images{
    height: 250px;
    width: 250px;
   float: left;
   text-align: center;

}

